:root {
    --main_color: rgb(0, 81, 255);
}

.jumbotron {
    border: 1px solid rgb(0, 81, 255);
}

.panel {
    border: 1px solid rgb(0, 81, 255);
    border-radius: 0 !important;
    transition: 0.5s ease-in-out;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .5);
}

button {
    background-color: var(--main_color) !important;
    color: white !important;
    transition: 500ms ease-in-out;
}

.panel-footer button:hover {
    background-color: white !important;
    border: 1px solid var(--main_color);
    color: var(--main_color) !important;
}

.panel-heading {
    background-color: rgb(32, 74, 167);
    padding: 15px;
}

.panel-body {
    margin: 15px;
}

.panel-footer {
    margin: 15px;
}

.panel-heading {
    color: white;
}

.panel-footer i{
    margin-right: 10px;
    font-size: 20px;
    color: var(--main_color);
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.panel-footer i:hover {
    transform: scale(1.5);
}